{% extends "page/base.html" %}
{% load static %}
{% block content %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/page/images/fondo03.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>IA-Trastornos Motores </h1>
							<h2> <a target="_blank">Proyecto CEPRA - CEDIA</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div >
					<h2>RESUMEN</h2>
					<p>En este proyecto se pretende
desarrollar cuatro tipos de herramientas tecnológicas experimentales para brindar soporte en la
detección e intervención de niños con dificultades motoras (con y sin discapacidad): a) un
prototipo basado en actuadores relacionados con el proceso de escritura en niños, b) un prototipo
basado en actuadores relacionados con procesos asociados a la función motora fina, c) un serious
game (juego serio) para rehabilitación de la función motora fina y d) un sistema experto sustentado
en inferencia basada en reglas para el soporte en la toma de decisiones. Los prototipos tendrán
2 fases de desarrollo, en la primera se realizará un primer plan piloto de experimentación que
permitirá validar la propuesta y caracterizar los patrones de escritura en niños con y sin
discapacidad, mientras que en la segunda fase se llevará a cabo un completo proceso de
ingeniería. La población con la que se trabajará está constituida por niños que asisten a centros
de educación especial y regular con los que tienen convenio vigente las instituciones participantes
en el proyecto (por ejemplo, el Instituto de Parálisis Cerebral del Azuay – IPCA, la Fundación
HOPE, etc.). Los prototipos desarrollados podrán emplearse en cualquier escuela y/o centro de
rehabilitación, y se constituirán en herramientas de gran soporte para educadores, psicólogos
clínicos y educativos y padres de familia. </p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1 " style="margin-bottom: 10px;">
			<div class="container">
				<div class="row">
					<div>
						<div class="mt">
							<h3>Objetivo General:</h3>
							<p>Contribuir en el desarrollo de un entorno inteligente que permita llevar a cabo procesos de
								enseñanza-aprendizaje y/o rehabilitación de la motricidad fina y la escritura en niños que
								presentan trastornos motores a través de técnicas de inteligencia artificial, modelos matemáticos
								y dispositivos electrónicos embebidos en el contexto Ecuatoriano.
							</p>							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-explore">
			<div class="container">
				<div class="row">
					<div >
						<div class="mt">
							<h3>Objesitos Especificos:</h3>
							<ul class="list-nav">
								<li><i class="icon-check2"></i> 
								Caracterizar la población infantil que presenta necesidades educativas especiales enfocadas
								en la intervención de dificultades motrices a fin de establecer las variables de interés y los
								lineamentos base para el desarrollo de las herramientas y prototipos.</li>
								<li><i class="icon-check2"></i>
								Establecer una línea de intervención terapéutica y educativa a partir de sistemas expertos y
								prototipos de hardware y software, para niños que presentan dificultades motrices.</li>
								<li><i class="icon-check2"></i>
								Diseñar y construir 4 prototipos (tipos: A1,A2,B1,B2) basados en herramientas inteligentes
								y sistemas embebidos que sirvan como soporte a la rehabilitación e intervención educativa de
								niños con dificultades motrices.</li>
								<li><i class="icon-check2"></i>
								Crear una plataforma de acceso web y un repositorio de datos para la recopilación remota
								de información (diagnóstico y avance de las sesiones) recabada durante las sesiones terapéuticas
								con niños.</li>
								<li><i class="icon-check2"></i>
								Diseñar y desarrollar un módulo de soporte a la toma decisiones basado en inteligencia
								artificial y modelos matemáticos que permita generar de forma automática planes/propuestas de
								intervención terapéutica para los niños con dificultades motrices.</li>
								<li><i class="icon-check2"></i>
								Validar el juego serio, el sistema experto y los prototipos desarrollados mediante pruebas
								de laboratorio controladas y pruebas de campo con niños</li>
								<li><i class="icon-check2"></i>
								Diseñar una red semántica que permita modelar las dificultades de aprendizaje que
								presentan los niños y su relación con los problemas motrices y las estrategias de rehabilitación
								propuestas.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-project">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>MIEMBROS DEL PROYECTO </h1>
							<h2> </h2>
						</div>
					</div>
				</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/FLucho.png'%}" alt="UPS" class="img-responsive">
						<h3 >Ing. Luis Serpa</h3>
						<span >Director del proyecto</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/Paul.png'%}" alt="UCACUE" class="img-responsive">
						<h3 style="color: #337ab7;">Ing. Jean Paul Mata</h3>
						<span style="color: #337ab7;">Docente investigador</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/FAdri.png'%}" alt="UDA" class="img-responsive">
						<h3 style="color: #337ab7;">Lic. Adriana Leon</h3>
						<span style="color: #337ab7;">Docente investigador</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/FVladi.png'%}" alt="UPS" class="img-responsive">
						<h3 >Ing. Vladimir Robles</h3>
						<span >Docente investigador</span>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/Naty.png'%}" alt="UPS" class="img-responsive">
						<h3  style="color: #337ab7;">Eco. Nataly Campos</h3>
						<span  style="color: #337ab7;">Investigador</span>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/FLucia.png'%}" alt="UDA" class="img-responsive">
						<h3 style="color: #337ab7;">Lic. Lucía Cordero</h3>
						<span style="color: #337ab7;">Docente investigador</span>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a><img src="{% static 'page/images/FAngel.png'%}" alt="UPS" class="img-responsive">
						<h3 style="color: #337ab7;">Ing. Angel Perez</h3>
						<span style="color: #337ab7;">Tecnico investigador</span>
					</a>
				</div>

							<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/FGabi.png'%}" alt="UDA" class="img-responsive">
						<h3 style="color: #337ab7;">Lic. Gabriela Basquez</h3>
						<span style="color: #337ab7;">Tecnico investigador</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/Sandro.png'%}" alt="UPS" class="img-responsive">
						<h3 style="color: #337ab7;">Ing. Sandro Gonzales</h3>
						<span style="color: #337ab7;">Tecnico investigador</span>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/per1.jpg'%}" alt="UPS" class="img-responsive">
						<h3 style="color: #337ab7;">Ing. Isaac Ojeda</h3>
						<span style="color: #337ab7;">Tecnico investigador</span>
					</a>
				</div>

			</div>
		</div>
	</div>
{% endblock%}