{% extends "page/base.html" %}
{% load static %}
{% block content %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/page/images/fondo04.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1> JUEGOS SERIOS </h1>
							<h2> <a target="_blank">Serious Games</a></h2>
							<p>
								<a class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\JS.mp4'%}">
									<i class="icon-play"></i> Ver Video</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Juegos Serios</h2>
					<p>Juegos serios multiplataforma para ayudar en procesos de rehabilitación</p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 animate-box">
						<img class="img-responsive" src="{% static 'page/images/dise.png'%}" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box">
						<div class="mt">
							<h3>Hardware de ejecución:</h3>
							<p>Los juegos serios han sido ejecutados en el siguiente Hardware. 
							</p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Computador Intel NUC:
								<li>- Procesador Intel i3</li>
								<li>- Memoria Ram 8GB</li>
								<li>- Tarjeta grafica Intel iris 650</li>
								<li>- Disco duro SSD 128GB</li>
								</li>
								<li><i class="icon-check2"></i>Televisor 32''</li>
								<li><i class="icon-check2"></i>Marco frame tactil 32''</li>
								<li><i class="icon-check2"></i>Mueble a medida con acrilico protector</li>
							</ul>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-project">
		<div class="container-fluid proj-bottom">
			<div class="row">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Juegos serios desarrollados</h2>
						<p>Los juegos serios desarrollados ayudan a desarrollar habilidade congnitivas y motricices en los niños</p>
						
					
					</div>
				</div>
			</div>	
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/js1.png'%}" alt="Juego Serio" class="img-responsive">
						<h3>Golpea Topos</h3>
						<span class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\Topos.mp4'%}" > Video</span>
	
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/js5.png'%}" alt="Juego Serio" class="img-responsive">
						<h3>Laberintos</h3>
						<span class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\Cerditos.mp4'%}" > Video</span>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/js2.png'%}" alt="Juego Serio" class="img-responsive">
						<h3>Letras</h3>
						<span class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\Letras.mp4'%}" > Video</span>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/js3.png'%}" alt="Juego serios" class="img-responsive">
						<h3>Rompecabezas</h3>
						<span class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\RompeC.mp4'%}" > Video</span>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'page/images/js4.png'%}" alt="Juegos Serios" class="img-responsive">
						<h3>Colorear</h3>
						<span class="btn btn-primary btn-lg popup-vimeo btn-video" href="{% static 'page\Video\Colorear.mp4'%}" > Video</span>

					</a>
				</div>

			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="features">
					<div class="col-md-4 animate-box">
						<h4>Refuersos positivos</h4>
						<p>Luces y audio.</p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Almacenamiento de informacion</h4>
						<p>Registro de datos de sesiones  </p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Llamativo y entrenidos</h4>
						<p>Juegos serios llamativos y entretenidos para los niños</p>
					</div>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" href="{% url 'contactos' %}">Contactanos</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock%}