{% extends "dashboard/base.html" %}

{% block title %} Cubo {% endblock title %}
{% load static %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

<!-- JavaScript Bundle with Popper -->


{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <h1>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
    <canvas id="artifactCanvas">
      
    </canvas>
    
  </div>


  <script type="module">
    //  import {OrbitControls} from "{% static 'modulos/js/OrbitControls.js'%}"
    //  import {OrbitControls} from "{% static 'modulos/js/three.js'%}"
    import * as THREE from "{% static 'modulos/js/three.module.js'%}"
    import { OrbitControls } from "{% static 'modulos/js/OrbitControls.js'%}"

    // import { OrbitControls } from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/examples/jsm/controls/OrbitControls.js';
    function main() {


      const canvasWidth = window.innerWidth;
      const canvasHeight = window.innerHeight;

      const fov = 75; // Grados
      const aspect = window.innerWidth / window.innerHeight; // Relación de aspecto
      const near = 0.1; // Si el objeto está más cerca que esta distancia no se renderiza
      const far = 8; // Si el objeto está más lejos que esta distancia no se renderiza

      const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);

      camera.position.set( 0, 1,  1);
   
      // Create a renderer with Antialiasing
      //const renderer = new THREE.WebGLRenderer({antialias: true });
      var renderer = new THREE.WebGLRenderer( { canvas: artifactCanvas,antialias: true } );

      // Configure renderer size
      renderer.setSize(window.innerWidth/3, window.innerHeight/2);
      

      // Append Renderer to DOM
      document.body.appendChild(renderer.domElement);

      const scene = new THREE.Scene();

      scene.background = new THREE.Color(0xFFFFFF);
      // controls.update();

      const controls = new OrbitControls(camera, renderer.domElement);

      controls.update()

      const boxWidth = 1;
      const boxHeight = 1;
      const boxDepth = 1;

      const geometry = new THREE.BoxGeometry(boxWidth, boxHeight, boxDepth);
      // const material = new THREE.MeshPhongMaterial({ color: 0x44aa88 });
      const materials = [];
      for (var i = 0; i < 6; i++) {
        materials.push(new THREE.MeshBasicMaterial({ color: Math.random() * 0xfffff0 }));
      }


      const cube = new THREE.Mesh(geometry, materials);
      scene.add(cube);

      const color = 0xffffff;
      const intensity = 1;
      const light = new THREE.DirectionalLight(color, intensity);
      light.position.set(-1, 2, 4);
      scene.add(light);

      renderer.render(scene, camera);

      function render(time) {
        time *= 0.0001;

        cube.rotation.x = time;
        cube.rotation.y = time;


        renderer.render(scene, camera);

        requestAnimationFrame(render);
      }
      // controls.update();
      requestAnimationFrame(render);
    }

    main();
// var scene = new THREE.Scene();
// var camera = new THREE.PerspectiveCamera( 55, 200 / 100, 0.1, 1000 ); //width="200" height="100" 
// camera.position.set( 0, 1, 4 );
// var renderer = new THREE.WebGLRenderer( { antialias: true } );
// renderer.setSize( 800, 800 ); //width="200" height="100" 
// renderer.setClearColor( 0xdddddd, 1 );	
// var container = document.getElementById( "container" );
// document.body.appendChild( container );
// container.appendChild( renderer.domElement ); 


// var geometry = new THREE.BoxBufferGeometry( );
// var mesh = new THREE.Mesh( geometry, new THREE.MeshBasicMaterial( { color: 0xff00ff } ) );
// scene.add( mesh );

// animate();

// function animate() {

// 	requestAnimationFrame( animate );	
// 	renderer.render( scene, camera );
	

  </script>


{% endblock%}