<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title>Labmultisensorial &mdash; Modulos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'modulos/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/lightgallery.min.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/swiper.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'modulos/css/style.css' %}">
</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>




    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="" class="text-white h2 mb-0">Labmultisensorial</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">


            </nav>
          </div>

        </div>
      </div>

    </header>



    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row justify-content-md-center">
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Cubo</h2>
              <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
                data-target="#exampleModal2">Iniciar</a>

            </div>

            <img src="{% static 'modulos/images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Lapiz</h2>
              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
              </button> -->
              <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
                data-target="#exampleModal">Iniciar</a>
            </div>
            <img src="{% static 'modulos/images/img_2.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Motricidad Gruesa</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">Iniciar</a>
            </div>
            <img src="{% static 'modulos/images/img_3.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Preescritura</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">Iniciar</a>
            </div>
            <img src="{% static 'modulos/images/img_4.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>



      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          GIIATA &copy;
          <script data-cfasync="false"></script>
          <script>document.write(new Date().getFullYear());</script><i aria-hidden="true"></i> by <a href=""
            target="_blank">Universidad Politecnica Salesiana</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Seleccione Niño</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Niño</th>

                </tr>
              </thead>
              <tbody>
                {% for item in estudiantes %}
                <tr>
                  <td><a href="{% url 'lapiz-detail'  item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Seleccione Niño</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Niño</th>

                </tr>
              </thead>
              <tbody>
                {% for item in estudiantes %}
                <tr>
                  <td><a href="{% url 'cubo-detail'  item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'modulos/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery-ui.js' %}"></script>
  <script src="{% static 'modulos/js/popper.min.js' %}"></script>
  <script src="{% static 'modulos/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'modulos/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'modulos/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'modulos/js/swiper.min.js' %}"></script>
  <script src="{% static 'modulos/js/aos.js' %}"></script>

  <script src="{% static 'modulos/js/picturefill.min.js' %}"></script>
  <script src="{% static 'modulos/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'modulos/js/jquery.mousewheel.min.js' %}"></script>

  <script src="{% static 'modulos/js/main.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('#lightgallery').lightGallery();
    });
  </script>

</body>

</html>