{% extends "dashboard/base.html" %}

{% load static %}
<title>Labmultisensorial &mdash; Modulos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}Labmultisensorial-Motricidad{% endblock %}

{% block content %}

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="row justify-content-md-center">
      <div class="col-lg-4">

        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3">Cubo</h2>
            <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
              data-target="#exampleModal2">Iniciar</a>

          </div>

          <img src="{% static 'modulos/images/cuboP.jpg' %}" alt="Image" class="img-fluid">
        </div>

      </div>
      <div class="col-lg-4">
        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3">Lapiz</h2>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
              </button> -->
            <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
              data-target="#exampleModal">Iniciar</a>
          </div>
          <img src="{% static 'modulos/images/mg.jpg' %}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-4">
        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3">Motricidad Gruesa</h2>
            <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
              data-target="#exampleModal3">Iniciar</a>
          </div>
          <img src="{% static 'modulos/images/mg.jpg' %}" alt="Image" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3">Preescritura</h2>
            <a href="" type="button" class="btn btn-outline-white py-2 px-4" data-toggle="modal"
              data-target="#exampleModal4">Iniciar</a>
          </div>
          <img src="{% static 'modulos/images/press.jpg' %}" alt="Image" class="img-fluid">
        </div>
      </div>



    </div>
  </div>
 
  <div class="footer py-4">
    <div class="container-fluid text-center">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        GIIATA &copy;
        <script data-cfasync="false"></script>
        <script>document.write(new Date().getFullYear());</script><i aria-hidden="true"></i> by <a
          target="">Universidad Politecnica Salesiana</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione Niño</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Niño</th>

              </tr>
            </thead>
            <tbody>
              {% for item in estudiantes %}
              <tr>
                <td><a href="{% url 'lapiz-detail'  item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Seleccione Niño</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Niño</th>

              </tr>
            </thead>
            <tbody>
              {% for item in estudiantes %}
              <tr>
                <td><a href="{% url 'cubo-detail'  item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Seleccione Niño</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Niño</th>

              </tr>
            </thead>
            <tbody>
              {% for item in estudiantes %}
              <tr>
                <td><a href="{% url 'motricidadG-detail'  item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Presscritura: Seleccione Niño< pa/h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Niño</th>

              </tr>
            </thead>
            <tbody>
              {% for item in estudiantes %}
              <tr>
                <td><a href="{% url 'motricidadP-detail' item.id  %}">{{ item.nombre }} {{ item.apellido}}</a></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}