{% extends "dashboard/base.html" %}

{% block title %} Datatable {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

<!-- JavaScript Bundle with Popper -->


{% endblock stylesheets %}

{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <div class="container">
        <div class="main-body">


          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">

            </ol>
          </nav>

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                      width="150">
                    <div class="mt-3">
                      <h4 class="formu"> {{ est.Estudiante.nombre }} {{ est.Estudiante.apellido }}</h4>
                      <p class="text-secondary mb-1">Instituto</p>
                      <p class="text-muted font-size-sm"> {{ est.Estudiante.edad_Cronologica }}</p>
                      <div class="container">
                        <div class="row row-cols-2">
                          <div class="col">
                            <div class="dropdown">
                              <button class="alert btn-info " type="button"
                                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  Diagnostico
                              </button>
                              <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Preescritura</a>
                                  <a class="dropdown-item" href="#">Motricidad Gruesa</a>
                                  <a class="dropdown-item" href="" data-bs-toggle="modal"
                                      data-bs-target="#exampleModal">Escritura</a>
                              </div> -->
                          </div>
                          </div>
                          <div class="col">
                            <div class="dropdown">
                              <button class="alert btn-info dropdown-toggle" type="button"
                                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  Intervención
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <!-- <a class="dropdown-item" href="#">Preescritura</a> -->
                                  <a class="dropdown-item" href="{% url 'sesionGruesa' pk=est.id%}">Motricidad</a>
                                  <!-- <a class="dropdown-item" href="#">Escritura</a> -->
                              </div>
                          </div>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <a>
                  <h3>Sindromes</h3>
                </a>
                <ul class="list-group">
                  {%if est.sindrome_down == 'Si'%}
                  <li class="list-group-item">Síndrome Down</li>
                  {% endif%}
                  {%if est.sindrome_lennon == 'Si'%}
                  <li class="list-group-item">Síndrome Lennon</li>
                  {% endif%}
                  {%if est.sindrome_te == 'Si'%}
                  <li class="list-group-item">Síndrome TEA </li>
                  {% endif%}
                  {%if est.sindorme_tdah == 'Si'%}
                  <li class="list-group-item">Síndrome TDAH</li>
                  {% endif%}
                  {%if est.transtorno_agresivo == 'Si'%}
                  <li class="list-group-item">Transtorno Agresivo</li>
                  {% endif%}
                </ul>
              </div>
            </div>
            <div class="col-md-8">

              <div class="card mb-3">

                <div class="card-body">
                  <a>
                    <h3>Discapacidades</h3><br>
                  </a>
                  <div class="row">

                    <div class="col-sm-3">

                      <h6 class="mb-0">Discapacidad Intelectual</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <b>{{est.disc_intelectual_grado}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Discapacidad Visual:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <b> {{est.disc_visual_grado}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Discapacidad Motriz:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <b> {{est.disc_motriz_grado}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Discapacidad Auditiva:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <b>{{est.disc_auditiva_grado}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Profundidad:
                      <b>{{est.disc_auditiva_profundidad}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Discapacidad PCI:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <b>{{est.disc_pci_grado}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Profundidad:
                      <b>{{est.disc_pci_profundidad}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <!-- href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills" -->
                    <div class="col-sm-12">
                      <a class="btn btn-info " href="{% url 'updateEst' pk=est.id%}">Editar</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i
                          class="text-info">Características Grafomotrices-Lingüística</i></h6>
                      <ul class="list-group">



                        {% if est.predispo_mesa == 'F1'%}
                        <li class="list-group-item"><img src="/static/images/tareaMesa.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Predisposición para una tarea en mesa:</h4>
                          </b>{{indice.19}}</li>
                        {% elif est.predispo_mesa == 'F2'%}
                        <li class="list-group-item"><img src="/static/images/tareaMesa.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Predisposición para una tarea en mesa:</h4>
                          </b>{{indice.20}}</li>
                        {% elif est.predispo_mesa == 'F3'%}
                        <li class="list-group-item"><img src="/static/images/tareaMesa.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Predisposición para una tarea en mesa:</h4>
                          </b>{{indice.21}}</li>
                        {% endif %}

                        {% if est.manipulacion_lapiz == 'G1'%}
                        <li class="list-group-item"><img src="/static/images/manipulaLapiz.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Manipulación de lápices:</h4>
                          </b>{{indice.22}}</li>
                        {% elif est.manipulacion_lapiz == 'G2'%}
                        <li class="list-group-item"><img src="/static/images/manipulaLapiz.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Manipulación de lápices:</h4>
                          </b>{{indice.23}}</li>
                        {% elif est.manipulacion_lapiz == 'G3'%}
                        <li class="list-group-item">}<img src="/static/images/manipulaLapiz.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Manipulación de lápices:</h4>
                          </b>{{indice.24}</li>
                        {% elif est.manipulacion_lapiz == 'G4'%}
                        <li class="list-group-item"><img src="/static/images/manipulaLapiz.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Manipulación de lápices:</h4>
                          </b>{{indice.25}}</li>
                        {% endif %}

                        {% if est.sensibilidad_tacto == 'H1'%}
                        <li class="list-group-item"><img src="/static/images/sensiTacto.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Sensibilidad en el tacto:</h4>
                          </b>{{indice.26}}</li>
                        {% elif est.sensibilidad_tacto == 'H2'%}
                        <li class="list-group-item"><img src="/static/images/sensiTacto.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Sensibilidad en el tacto:</h4>
                          </b>{{indice.27}}</li>
                        {% elif est.sensibilidad_tacto == 'H3'%}
                        <li class="list-group-item"><img src="/static/images/sensiTacto.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Sensibilidad en el tacto:</h4>
                          </b>{{indice.28}}</li>
                        {% endif %}
                        {% if est.lenguaje_compresivo == 'A1'%}
                        <li class="list-group-item"><img src="/static/images/comprensivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje comprensivo:</h4>
                          </b> {{indice.29}}</li>
                        {% elif est.lenguaje_compresivo == 'A2'%}
                        <li class="list-group-item"><img src="/static/images/comprensivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje comprensivo:</h4>
                          </b>{{indice.30}}</li>
                        {% elif est.lenguaje_compresivo == 'A3'%}
                        <li class="list-group-item"><img src="/static/images/comprensivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje comprensivo:</h4>
                          </b>{{indice.31}}</li>
                        {% elif est.lenguaje_compresivo == 'A4'%}
                        <li class="list-group-item"><img src="/static/images/comprensivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje comprensivo:</h4>
                          </b>{{indice.32}}</li>
                        {% elif est.lenguaje_compresivo == 'A5'%}
                        <li class="list-group-item"><img src="/static/images/comprensivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje comprensivo:</h4>
                          </b>{{indice.33}}</li>
                        {% endif %}
                        {% if est.lenguaje_expresivo == 'B1'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.34}}</li>
                        {% elif est.lenguaje_expresivo == 'B2'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.35}}</li>
                        {% elif est.lenguaje_expresivo == 'B3'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.36}}</li>
                        {% elif est.lenguaje_expresivo == 'B4'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.37}}</li>
                        {% elif est.lenguaje_expresivo == 'B5'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.38}}</li>
                        {% elif est.lenguaje_expresivo == 'B6'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.39}}</li>
                        {% elif est.lenguaje_expresivo == 'B7'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.40}}</li>
                        {% elif est.lenguaje_expresivo == 'B8'%}
                        <li class="list-group-item"><img src="/static/images/expresivo.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lenguaje expresivo: </h4>
                          </b>{{indice.41}}</li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i
                          class="text-info mr-2">Características Grafomotrices-Lingüística</i></h6>
                      <ul class="list-group">
                        {% if est.control_cuerpo == 'A1'%}
                        <li class="list-group-item"><img src="/static/images/controlaCuerpo.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Control de su cuerpo:</h4>
                          </b> {{indice.0}}</li>
                        {% elif est.control_cuerpo == 'A2'%}
                        <li class="list-group-item"><img src="/static/images/controlaCuerpo.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Control de su cuerpo:</h4>
                          </b> {{indice.1}}</li>
                        {% elif est.control_cuerpo == 'A3'%}
                        <li class="list-group-item"><img src="/static/images/controlaCuerpo.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Control de su cuerpo:</h4>
                          </b> {{indice.2}}</li>
                        {% elif est.control_cuerpo == 'A4'%}
                        <li class="list-group-item"><img src="/static/images/controlaCuerpo.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Control de su cuerpo:</h4>
                          </b>{{indice.3}}</li>
                        {% elif est.control_cuerpo == 'A5'%}
                        <li class="list-group-item"><img src="/static/images/controlaCuerpo.jpeg" class="img-prof"
                            alt="" ALIGN='left'><b>
                            <h4>Control de su cuerpo:</h4>
                          </b> {{indice.4}}</li>
                        {% endif %}
                        {% if est.cord_oculo_manual == 'B1'%}
                        <li class="list-group-item"><img src="/static/images/oculoManual.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Coordinación óculo manual:</h4>
                          </b> {{indice.5}}</li>
                        {% elif est.cord_oculo_manual == 'B2'%}
                        <li class="list-group-item"><img src="/static/images/oculoManual.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Coordinación óculo manual:</h4>
                          </b>{{indice.6}} </li>
                        {% endif %}

                        {% if est.atencion == 'C1'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b>{{indice.7}}</li>
                        {% elif est.atencion == 'C2'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b>{{indice.8}}</li>
                        {% elif est.atencion == 'C3'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b> {{indice.9}}</li>
                        {% elif est.atencion == 'C4'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b>{{indice.10}}</li>
                        {% elif est.atencion == 'C5'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b> {{indice.11}}</li>
                        {% elif est.atencion == 'C6'%}
                        <li class="list-group-item"><img src="/static/images/atencion.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Atencion:</h4>
                          </b> {{indice.12}}</li>
                        {% endif %}
                        {% if est.lateralidad == 'D1'%}
                        <li class="list-group-item"><img src="/static/images/lateralidad.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lateralidad:</h4>
                          </b>{{indice.13}}</li>
                        {% elif est.lateralidad == 'D2'%}
                        <li class="list-group-item"><img src="/static/images/lateralidad.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lateralidad:</h4>
                          </b>{{indice.14}}</li>
                        {% elif est.lateralidad == 'D3'%}
                        <li class="list-group-item"><img src="/static/images/lateralidad.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Lateralidad:</h4>
                          </b>{{indice.15}}</li>
                        {% endif %}
                        {% if est.disociacion_manos == 'E1'%}
                        <li class="list-group-item"><img src="/static/images/disoManos.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Disociación de manos: </h4>
                          </b>{{indice.16}}</li>
                        {% elif est.disociacion_manos == 'E2'%}
                        <li class="list-group-item"><img src="/static/images/disoManos.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Disociación de manos: </h4>
                          </b>{{indice.17}}</li>
                        {% elif est.disociacion_manos == 'E3'%}
                        <li class="list-group-item"><img src="/static/images/disoManos.jpeg" class="img-prof" alt=""
                            ALIGN='left'><b>
                            <h4>Disociación de manos: </h4>
                          </b>{{indice.18}}</li>
                        {% endif %}

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Escritura</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Para el diagnostico haga uso del respetivo lapiz y aplicacion.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
      </div>

    </div>

  </main>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}