{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">

    <main>
        <div class="container-fluid">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h2>
                        <p style="color:#fff;">Sesiónes en la Motricidad Gruesa</p>
                    </h2>
                </blockquote>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-primary me-md-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i
                            class="fas fa-plus-square"></i> Nueva Sesión</a>


                </div>
            </figure>
            {% for obj in object.0 %}
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0" style="text-align:center;">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseOne{{obj.serial}}" aria-expanded="true"
                                aria-controls="collapseOne{{obj.serial}}" >
                                Sesión número {{obj.serial}}
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne{{obj.serial}}" class="collapse" aria-labelledby="headingOne{{obj.serial}}"
                    data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive-sm" style="color:#fff;">
                            <table class="table ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Actividad</th>
                                        <th scope="col">Tiempo</th>
                                        <th scope="col">Errores</th>
                                        <th scope="col">datos</th>
                                    </tr>
                                </thead>
                                <tbody style="color:#fff;">
                                    {% for i in object.1 %}
                                    <tr>
                                        {% if i.Sesion.serial == obj.serial %}
                                        <td>{{i.Actividad}}</td>
                                        <td>{{ i.Tiempo }}</td>
                                        <td>{{ i.Errores }}</td>
                                        <td>{{ i.datos }}</td>
                                        {%endif%}


                                    </tr>
                                    {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Motricidad Gruesa</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="col-md-4">
                                                <!-- class="btn btn-default me-md-2" data-toggle="modal" -->
                                                <a href="{% url 'sesionCreateTabC' pk=object.2%}"
                                                    data-target="#exampleModal" data-bs-dismiss="modal">
                                                    <img src="/static/images/laberinto.png" width="250" height="250"
                                                        style="filter: brightness(50%);opacity: 0.5;" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="col-md-4">
                                                <a href="{% url 'sesionCreateTab' pk=object.2%}"
                                                    class="btn btn-default me-md-2">
                                                    <img src="/static/images/cierre2.png" width="250" height="250" />
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               No cumple las condiciones para este modulo
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            {% endfor%}




        </div>
    </main>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->





</script>
{% endblock%}