{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Selecciona la actividad a utilizar</strong></h4>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/pinzas.png" width="480" height="480" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Pinzas</h5>
              <p class="card-text">
                Coloca las pinzas en su lugar.
              </p>
             
              <button id = "serialSombrero" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/laberinto.png" width="400" height="400" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Laberinto</h5>
              <p class="card-text">
                Trata de que el jugador lleve la pelota a la posición correspondiente.
              </p>
              
              <button id = "serialCierre" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/labE.jpg"  width="400" height="400" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Laberinto Electrico</h5>
              <p class="card-text">
             lleva la comida hacia el animal.
              </p>
              <button id = "serialVelcro" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>

       
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>


<script>
  $("#serialSombrero").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="a"%}',
      type: "GET",
      
    })
  })
  $("#serialCierre").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="c"%}',
      type: "GET",
      
    })
  })
  $("#serialVelcro").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="d"%}',
      type: "GET",
      
    })
  })
  $("#serialBroche").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="b"%}',
      type: "GET",
      
    })
  })
  $("#serialCordon").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="e"%}',
      type: "GET",
      
    })
  })
  $("#serialFinalizar").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="y"%}',
      type: "GET",
      
    })
  })

</script>
{% endblock%}