{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Selecciona la actividad a utilizar</strong></h4>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/sombrero.png" width="480" height="480" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Sombrero</h5>
              <p class="card-text">
                Gira el sombrero para colocarlo en la posicion correcta
              </p>
             
              <button id = "serialSombrero" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/cierre2.png" width="435" height="435" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cierre</h5>
              <p class="card-text">
                Abre el cierre y colocalo en su pocision original.
              </p>
              
              <button id = "serialCierre" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/velcro.png"  width="250" height="250" class="img-fluid" />
              <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Velcro</h5>
              <p class="card-text">
              Coloca correctamente el Velcro
              </p>
              <button id = "serialVelcro" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/broche.png" width="160" height="160" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Broche</h5>
              <p class="card-text">
                Coloque el broche en su lugar asigando.
              </p>
              <button id = "serialBroche" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/static/images/cordon.png" width="400" height="400" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cordon</h5>
              <p class="card-text">
               Pasa el cordon por los agujeros.
              </p>
              <button id = "serialCordon" class="btn btn-success"> Iniciar </button>
              <button id = "serialFinalizar" class="btn btn-danger"> Finalizar </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>


<script>
  $("#serialSombrero").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="a"%}',
      type: "GET",
      
    })
  })
  $("#serialCierre").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="c"%}',
      type: "GET",
      
    })
  })
  $("#serialVelcro").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="d"%}',
      type: "GET",
      
    })
  })
  $("#serialBroche").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="b"%}',
      type: "GET",
      
    })
  })
  $("#serialCordon").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="e"%}',
      type: "GET",
      
    })
  })
  $("#serialFinalizar").click(function () {
    $.ajax({
      url: '{% url "serial_data" pk="y"%}',
      type: "GET",
      
    })
  })

</script>
{% endblock%}