{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="layoutSidenav_content">

  <main>
    <div class="container-fluid">

      <script>

        $(document).ready(function () {
          //obtenemos el valor de los input
          var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
          $('#adicionar').click(function () {
            var nombre = document.getElementById("nombre").value;
            var apellido = document.getElementById("apellido").value;
            var i = 1; //contador para asignar id al boton que borrara la fila
            var fila = '<tr id="row' + i + '"><td>' + nombre + '</td><td>' + apellido + '</td><td> <a id="' + i + '" name="remove" class="btn btn-danger me-md-2 btn_remove" type="button">  <i class="fas fa-trash-alt"></i>  Quitar</a> '; //esto seria lo que contendria la fila

            i++;

            $('#mytable tr:first').after(fila);
            $("#adicionados").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
            var nFilas = $("#mytable tr").length;
            $("#adicionados").append(nFilas - 1);
            //le resto 1 para no contar la fila del header
            document.getElementById("apellido").value = "";
            document.getElementById("nombre").value = "";
            document.getElementById("nombre").focus();
          });
          $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            //cuando da click obtenemos el id del boton
            $('#row' + button_id + '').remove(); //borra la fila
            //limpia el para que vuelva a contar las filas de la tabla
            $("#adicionados").text("");
            var nFilas = $("#mytable tr").length;
            $("#adicionados").append(nFilas - 1);
          });

          $(document).on('click', '.btn_send', function () {
            $.ajax({
              type: "POST",
              // url: "http://127.0.0.1:8000/Ses/sesion/",
              url: "http://192.168.60.120:8000/Ses/sesion/",

              data: JSON.stringify({
                area: "Motricidad Gruesa",
                Estudiante: '{{ a }}'
              }),
              contentType: 'application/json; charset=utf-8',
              headers: { "X-CSRFToken": $crf_token },
              success: function (data) {
                $('#exampleModal').modal('show');
              },
              failure: function (data) {
                alert(data.responseText);
              },
              error: function (data) {
                alert(data.responseText);
              }
            });
            var tableHeaderRowCount = 1;
            var table = document.getElementById('mytable');
            console.log(table)
            var rowCount = table.rows.length;
            for (var i = tableHeaderRowCount; i < rowCount; i++) {
              table.deleteRow(tableHeaderRowCount);
            }
           
          });
        });
      </script>

      <div class="row">
        <div class="container">
          <form>
            {% csrf_token %}
            <div class="form-group">
              <h1 class="mt-4">Motricidad Gruesa</h1>
              <p>
                <label>Actividad: </label> <br>
                <input id="nombre" class="form-control" type="text"><br>
              </p>
              <p>
                <label>Tiempo :</label> <br>
                <input id="apellido" class="form-control" type="text"><br>
              </p>
              <a id="adicionar" class="btn btn-success me-md-2" type="button"> <i class="fas fa-plus-square"></i>
                Agregar Actividad</a>
              <!-- <a id="' + i + '" name="remove" class="btn btn-success me-md-2 btn_remove" type="button">  <i class="fas fa-trash-alt"></i>  Iniciar</a>
              <button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">Iniciar</button> -->
            </div>
          </form>

          <p>Activades a ralizar:
          <div id="adicionados"></div>
          </p>
          <table id="mytable" class="table table-bordered table-hover "></table>
            <tr>
              <th>Actividad</th>
              <th>Tiempo</th>
              <th>Accion </th>

            </tr>
          </table>
          <a name="remove" class="btn btn-danger me-md-2 btn_send" type="button"> <i class="far fa-check-circle"></i>
            Iniciar</a></td>
          </tr>'

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Motricidad Gruesa Gruesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sesion creada Realice las activiades
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

      </div>
    </div>
  </main>
</div>

{% endblock%}