{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div id="layoutSidenav_content" style="background: url(https://www.humanrightslogo.net/es/system/files/styles/gallery-full/private/unconfirmed_uploads/main-background.jpg?itok=caG4n9AW);
-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center">

    <main>
        <div class="container-fluid">

            <div class="container">

                <h1 class="mt-4 " align="center" ">Laboratorio Multisensorial</h1><br><br><br>
                

            <div class=" row">


                    <div class="col-md-6">
                        <a href="{% url 'Estudent_List' %}" class="btn btn-default me-md-2" style="width: 100%;">

                            <img src="https://st.depositphotos.com/1967477/2738/v/600/depositphotos_27384815-stock-illustration-cute-children-waving-hand.jpg"
                                width="300" height="300" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-default me-md-2" style="width: 100%;">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/56071/woman-in-manual-wheelchair-emoji-clipart-md.png"
                                width="300" height="300" />
                        </a>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-default me-md-2" style="width: 100%;">
                        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/56071/woman-in-manual-wheelchair-emoji-clipart-md.png"
                            width="300" height="300" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-default me-md-2" style="width: 100%;">
                        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/56071/woman-in-manual-wheelchair-emoji-clipart-md.png"
                            width="300" height="300" />
                    </a>
                </div>
            </div>
            <!-- <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Informacion Obtenida</li>
            </ol> -->

    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>



</script>
{% endblock%}