{% extends "dashboard/base.html" %}
{% load static %}
<script src="{% static 'dashboard/assets/demo/datatables-demo.js' %}"></script>

<style>
	.wrapper {
		margin: 150px auto;
	}

	h1 {
		text-align: center;
	}
</style>

{% block content %}

<div id="layoutSidenav_content">

	<main>
		<div class="container-fluid">

			<div class="container">


				<h1 class="mt-4" style="margin:30px auto 30px auto; text-align:center; color:#fff;">Laboratorio
					Multisensorial</h1>


				<!-- Wrapper -->
				<div class="wrapper noselect">

					<!-- Slide Carousel -->
					<div class="slide-carousel" id="one">
						<div class="arrow-left">&lsaquo;</div>
						<div class="arrow-right">&rsaquo;</div>

						<div class="slides">
							<!-- <a href="{% url 'Estudent_List' %}" class="slide" id="slide1">
                       
									

								</a> -->


							<div class="slide" id="slide1" onclick="myFunction(1)"><span class="title"></span></div>
							<div class="slide" id="slide2"onclick="myFunction(2)"><span class="title"></span></div>
							<div class="slide" id="slide3"onclick="myFunction(3)"><span class="title"></span></div>
							<div class="slide" id="slide4"onclick="myFunction(4)"><span class="title"></span></div>
							
						</div>


						<div class="dots"></div>
					</div>
				</div>

			</div>
	</main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script></script>
<script>
	function myFunction(i) {
		var h=String(i)
		switch (h) {
			case "1":
				window.location.href = "{% url 'Estudent_List' %}"
				break;
			case "2":
				window.location.href = "#"
				break;
			case "3":
				window.location.href = "#"
				break;
			case "4":
				window.location.href="{% url 'graEst' 'null' %}"
				break;
			default:
				break;
		}
		
	}
</script>

{% endblock%}